<h2>
    About
</h2>

<p>
    My name is Juan Manuel although I am known as Juanma. I was born in Barcelona (Spain) in June 1999. I am currently studying Computer Engineering at the Autonomous University of Barcelona. I started programming in 2018. I have been working with models of deep learning, process automation and streaming on demand, among other things, these last 2 years.
    I love free code and linux.
    The languages ​​that I have tried the most are: Python (Scripts, TensorflowV2, OpenCV), C++ (QT), Java (JSP, Hibernate, Android) and C (Linux Sockets).
    Apart from programming, another passion I have is teaching, I love teaching people about programming.
    In general, I usually program alone, but I adapt very well in work groups when carrying out a project.
    I hope that one day we can collaborate.
</p>