<h2>
    Contact
</h2>

<div class="social-item">
    <div class="container">
        <div class="row">
            <div class="col social-logo">
                <a href="https://github.com/juanmacaaz" target="_blank" rel="noopener noreferrer"><img class="social-img" src="resources/img/GitHub-Mark-Light-120px-plus.png" alt=""></a>
            </div>
            <div class="col social-info">
                
                <div class="row social-name">
                    Github
                </div>
                <div class="row social-user">
                    <a href="http://github.com/juanmacaaz" target="_blank" rel="noopener noreferrer"> juanmacaaz </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-item">
    <div class="container">
        <div class="row">
            <div class="col social-logo">
                <a href="https://twitter.com/JuanmaCaaz" target="_blank" rel="noopener noreferrer"><img class="social-img" src="resources/img/twitter.png" alt=""></a>
            </div>
            <div class="col social-info">
                
                <div class="row social-name">
                    Twitter
                </div>
                <div class="row social-user">
                    <a href="https://twitter.com/JuanmaCaaz" target="_blank" rel="noopener noreferrer"> @JuanmaCaaz </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="social-item">
    <div class="container">
        <div class="row">
            <div class="col social-logo">
                <a href="mailto:juanma.caaz@gmail.com" target="_blank" rel="noopener noreferrer"><img class="social-img" src="resources/img/mail.png" alt=""></a>
            </div>
            <div class="col social-info">
                
                <div class="row social-name">
                    Email
                </div>
                <div class="row social-user">
                    <a href="mailto:juanma.caaz@gmail.com" target="_blank" rel="noopener noreferrer"> juanma.caaz@gmail.com </a>
                </div>
            </div>
        </div>
    </div>
</div>