<h2>
    Proyects
</h2>

<p>
    Here I show you the main projects that I have carried out throughout my journey as a programmer.
    Notice that some of them have been created when I still had little knowledge of programming.
    I hope that throughout my life both the quality of my projects and the code will be better.
    I have created all kinds of projects from simulators of logic circuits, through programming contests
    to dealing with graphics with opengl.
    Also as you can see the web design is not my thing
    Although I do not rule out putting myself to work with it.
</p>

<!--
    Filtros
-->

<div class="filters">

    <p> TAG Filters </p>

    <ul id="filtros" class="list-unstyled row">
        <li onclick="clickC__(this)" class="list-item col-4">OpenCV</li>
        <li onclick="clickC__(this)" class="list-item col-4">C++</li>
        <li onclick="clickC__(this)" class="list-item col-4">Python</li>
        <li onclick="clickC__(this)" class="list-item col-4">IA</li>
        <li onclick="clickC__(this)" class="list-item col-4">Games</li>
        <li onclick="clickC__(this)" class="list-item col-4">OpenGL</li>
        <li onclick="clickC__(this)" class="list-item col-4">QT</li>
        <li onclick="clickC__(this)" class="list-item col-4">Simulation</li>
    </ul>

    <p id="reset-filtros" class="clikeable filtro-activado" onclick=reset()> Show all </p>
</div>

<!--
    Proyectos
-->

<!-- LogicSimulator -->

<div class="p-item max C++ QT Simulation">
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <div class="p-2">
                    <a href="https://github.com/juanmacaaz/LogicSimulator">
                        <h3>
                            LogicSimulator
                        </h3>
                    </a>
                </div>
                <div class="p-3">
                    February 2020
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col overflow-auto max">
                <p>
                    This project is about a certain simulator with logic gates,
                    the gates that you can implement are and, xor, not and or.
                    It has been programmed in C++ with the QT workbench.
                    Allows you to save and load diagrams.
                    Export the diagram to VHDL and calculate the minterms.
                    <a href="https://github.com/juanmacaaz/LogicSimulator/releases/download/0.1.0/LogicSimulator_0.1.0.zip"
                        target=”_blank”> Click here to download the executable (Windows only) </a>
                </p>
                <a target=”_blank” href="https://github.com/juanmacaaz/LogicSimulator"> <img class="logo"
                        src="resources/img/GitHub-Mark-Light-32px.png" alt="Logo Github"> </a>
                <div class="tags">
                    <div class="d-flex">
                        <div class="p-2">Tags:</div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> C++ </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> Simulation </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> QT </tag>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2">Colaborators:</div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/juanmacaaz"> Juanma(Me) </a> </div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/eric5512"> Eric </a> </div>
                </div>
                <a href="#top">Back to top</a>
            </div>
            <div class="col zoom-img">
                <div class="overflow-auto max">
                    <img src="resources/img/LogicSimulator.png" alt="Logic Simulator">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BonAreaIA -->

<div class="p-item max Python IA OpenCV">
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <div class="p-2">
                    <a href="https://github.com/juanmacaaz/BonAreaIA">
                        <h3>
                            BonAreaIA
                        </h3>
                    </a>
                </div>
                <div class="p-3">
                    November 2020
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col overflow-auto max">
                <p>
                    The system works through a neural network called Yolo v3 which checks the images
                    in real time and labels them looking for holes in the shelves of refrigerators.
                    It saves the coordinates of these gaps, and then sends this information to the mobile application.
                    The application reads the data received and counts how many holes there are and in which area
                    of ​​the refrigerator they are. It then notifies the user of any product deficiencies in the
                    refrigerator,
                    how much, and in what area. Because the images are analyzed in real time, if an employee receives a
                    notification of a gap and fills it, the notification will automatically disappear in the application
                    and mark the refrigerator as full again.
                </p>
                <a target=”_blank” href="https://github.com/juanmacaaz/BonAreaIA"> <img class="logo"
                        src="resources/img/GitHub-Mark-Light-32px.png" alt="Logo Github"> </a>
                <a target=”_blank” href="https://devpost.com/software/bonarea-ia"> <img class="logo"
                        src="resources/img/devpost-seeklogo.com.svg" alt="Logo Github"> </a>
                <div class="tags">
                    <div class="d-flex">
                        <div class="p-2">Tags:</div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> Python </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> OpenCV </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> IA </tag>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2">Colaborators:</div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/juanmacaaz"> Juanma(Me) </a> </div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/polespinasa"> Pol </a> </div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/Danny-8"> Dani </a> </div>
                </div>
                <a href="#top">Back to top</a>
            </div>
            <div class="col zoom-img">
                <div class="overflow-auto max">
                    <img src="resources/img/bonArea.jpg" alt="BonAreaIA">
                    <iframe width="660" height="415" src="https://www.youtube.com/embed/N1yAJMRqBLI"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    EASTLabeling
-->

<div class="p-item max Python IA OpenCV">
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <div class="p-2">
                    <a href="https://github.com/juanmacaaz/EASTLabeling">
                        <h3>
                            EASTLabeling
                        </h3>
                    </a>
                </div>
                <div class="p-3">
                    January 2021
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col overflow-auto max">
                <p>
                    This program is used to label training images for the EAST neural network model. It is very simple
                    and light to use. It is created in a few hours.
                </p>
                <a target=”_blank” href="https://github.com/juanmacaaz/EASTLabeling"> <img class="logo"
                        src="resources/img/GitHub-Mark-Light-32px.png" alt="Logo Github"> </a>
                <div class="tags">
                    <div class="d-flex">
                        <div class="p-2">Tags:</div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> Python </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> OpenCV </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> IA </tag>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2">Colaborators:</div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/juanmacaaz"> Juanma(Me) </a> </div>
                </div>
                <a href="#top">Back to top</a>
            </div>
            <div class="col zoom-img">
                <div class="overflow-auto max">
                    <img src="resources/img/EASTLabeling/1.png" alt="EASTLabeling">
                </div>
            </div>
        </div>
    </div>
</div>

<!--
    Pokemon2Digimon
-->

<div class="p-item max Python IA OpenCV">
    <div class="container">
        <div class="row">
            <div class="d-flex">
                <div class="p-2">
                    <a href="https://github.com/juanmacaaz/Pokemon2Digimon">
                        <h3>
                            Pokemon2Digimon
                        </h3>
                    </a>
                </div>
                <div class="p-3">
                    December 2021
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col overflow-auto max">
                <p>
                    In this repository you will find a classifier made with neural networks. The themes I touch on are:
                <ul>
                    <li>I check if the proposed models are capable of solving this classification problem.</li>
                    <li>The type of drawing of the images is analyzed, such as what parts of the image represents a
                        pokemon or a digimon.</li>
                    <li>I create a pokemon that maximizes the classifier's "Pokemon" class.</li>
                    <li>I create a Digimon that maximizes the "Digimon" class of the classifier.</li>
                    <li>I check how resistant the best model is, using adversary attacks.</li>
                </ul>
                </p>
                <a target=”_blank” href="https://github.com/juanmacaaz/Pokemon2Digimon"> <img class="logo"
                        src="resources/img/GitHub-Mark-Light-32px.png" alt="Logo Github"> </a>
                <div class="tags">
                    <div class="d-flex">
                        <div class="p-2">Tags:</div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> Python </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> OpenCV </tag>
                        </div>
                        <div class="p-2">
                            <tag onclick='clickC__(this)'> IA </tag>
                        </div>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="p-2">Colaborators:</div>
                    <div class="p-2"> <a target=”_blank” href="https://github.com/juanmacaaz"> Juanma(Me) </a> </div>
                </div>
                <a href="#top">Back to top</a>
            </div>
            <div class="col zoom-img">
                <div class="overflow-auto max">
                    <img src="resources/img/Pokemon2Digimon.jpg" alt="Pokemon2Digimon">
                    <img src="resources/img/Pokemon2Digimon1.jpg" alt="Pokemon2Digimon">
                    <img src="resources/img/Pokemon2Digimon2.jpg" alt="Pokemon2Digimon">
                    <img src="resources/img/Pokemon2Digimon3.jpg" alt="Pokemon2Digimon">
                    <img src="resources/img/Pokemon2Digimon4.jpg" alt="Pokemon2Digimon">
                </div>
            </div>
        </div>
    </div>
</div>